<nav style="background-color: white;">
    <a href="/">Solar System</a>
    <a href="/PlanetInfo?planet=Mercury">Mercury</a>
    <a href="/PlanetInfo?planet=Venus">Venus</a>
    <a href="/PlanetInfo?planet=Earth">Earth</a>
    <a href="/PlanetInfo?planet=Mars">Mars</a>
    <a href="/PlanetInfo?planet=Jupiter">Jupiter</a>
    <a href="/PlanetInfo?planet=Saturn">Saturn</a>
    <a href="/PlanetInfo?planet=Uranus">Uranus</a>
    <a href="/PlanetInfo?planet=Neptune">Neptune</a>
    <a href="/nasaToday">NASA</a>
</nav>
<br>